a{
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
    line-height: 2.3;
    margin-left: 30px;
}
.name{
    color: black;
    text-decoration: none;
    margin-top: 16px;
    font-size: 28px;
    font-weight: 700;
    line-height: 2.4;
    margin-left: 10px;
}
.pricebox
{
    border: 2px solid black;
    padding: 20px;
    padding-left: 10px;
    background-color: white;
    margin-top: 100px;
    width: 115px;
    height: 170px;
    justify-content: center;
    margin-left: 500px;
}
.assetlogo
{
    margin-top: 4px;
    margin-left: 10px;
    padding-left: 11px;
    display: flex;
    justify-content: center;
}
#btclogo
{
    margin-left: 0px;
}
.assetprice
{
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-left: px;
}
.nav_bar{
    background-color: transparent;
    width: 2000px;
    height: 80px;
    display: flex;
    margin-left: 3px;
    color: black;
}
.navbar-logo{
    margin-left: 60px;
    display: flex;
    justify-content: space-around;
}
.navbar-nav{
    display: flex;
    gap: 30px;
    margin-left: 30px;
    font-size: 22px;
    font-weight: 700;
}
.nav_bar a:hover {
    color: blue;
    transition: color 0.3s ease-in-out;
    text-decoration: underline;
}
body
{
    margin: 0;
    padding: 0;
    background-image: url('../assets/background2.jpg');
}
.container {
    margin-top: -10px;
    display: inline-block;
}